.DS_Store
*.pyc
*.py~
*.swl
*.swm
*.swn
*.swo
*.swp
*.log
*.log.*
dist/
web/
src/bigml/ceres/static
.dir-locals.el
.sass-cache
.tmbuild
.haxedoc
*.tmproj
*.aux
*.ego
*.glo
*.idx
*.lof
*.out
*.synctex.gz
*.toc
*.ent
*.lot
.cache
build
*pip-log.txt
*.egg-info
*.egg
*.coverage
local_settings.py
*.bak
*.markdown.html
*.md.html
test_resources.txt
utility_scripts/
multipredictions-models-storage
multipredictions-settings*.json
settings-v*.json
settings-costs-v*.json
.idea/
settings-costs-v*.json
